html {
    height:100%;
    width:100%;
}

body {
    background-image:url("https://images.squarespace-cdn.com/content/v1/5fa3ed9a24b5af5a336db406/04088b5e-04ff-4b25-a4be-125c1d01adf5/thumbnail_IMG_4606.jpg");
    color:white
}
h1 {
    background-color: goldenrod;
    color: blue;
}
h3 {
    background-color: goldenrod;
    color: aqua;
}
a {
    background-color: goldenrod;
    color:aqua;
}
h2 {
    background-color: goldenrod;
    color: aqua;
}